body {
	background: #fff none;
	color: #333;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	/*padding-top: 25px;*/
	background-position: top center;
}
@media only screen and (min-width : 1440px) {
	body{
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-position: top center;

		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}

#pbs-content {
	background: white;
	border-top: solid 6px;
	margin-bottom: 25px;
	box-shadow: 0 0 7px rgba(0,0,0,0.5);
}