/* Styles for New Navigation */
@media (max-width: $screen-xs-max) {
	.pbs-logo {
		display: none;
	}
}

.pbs-logo-mobile { width: 65px; }

.menu-icon {
	font-size: 24px;
	position: relative;
	top: 4px;
}