@media (max-width: $screen-xs-max) {
	#right-sticky-nav {
		display: none;
	}
}

#right-sticky-nav {
	position: fixed;
	right: -114px; /* stick to the left */;
	top: 50%;
	z-index: 3;
	-ms-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

#right-sticky-nav li {
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: rgba(0,0,0,0.7);
	padding: 10px;
	position: relative;
	margin-right: 5px;
	float: right;
}
#right-sticky-nav li a {
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	border-bottom: none;
}
#right-sticky-nav li a.live-chat {
	margin-right: 25px;
}
#right-sticky-nav li i {
	color: #ea9022 !important;
	font-size: 24px;
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	position: absolute;
	right: 5px;
	top: 9px;
}